.md-typeset h2 {
}

.md-typeset h3 {
  text-decoration: underline var(--md-accent-fg-color);
  text-decoration-thickness: 0.15rem;
}

.md-typeset h4 {
  padding: 0.1rem 0.0rem 0.1rem 0.4rem;
  border-left: 0.1rem solid var(--md-primary-fg-color);
  font-weight: 400;
  background: var(--md-code-bg-color);
  color: var(--md-primary-fg-color--dark);
}

/** definition list settings */
.md-typeset dl {
  display: grid;
  grid-template-columns: 5.5rem auto;
  margin: 0.5em 0 0.5em 1em;
}
.md-typeset dt {
  grid-column: 1;
  border-right: 1px solid var(--md-primary-fg-color--light);
  padding: 0.2ex 0 0.5ex 0;
  font-weight: bold;
}
.md-typeset dd {
  grid-column: 2;
  margin: 0 0 0 0;
  padding-left: 1ex;
}

/** increase font size */
.md-typeset table:not([class]) {
  font-size: .76rem;
}
